<h1>Eldest director</h1>



<% all_directors = Director.all.order({ :dob => :asc }) %>

<% eldest_to_youngest = all_directors%>

<% eldest = eldest_to_youngest.at(0) %>

<p>The eldest director in our dataset right now is <%= eldest.name %>, born on <%= eldest.dob %>.</p>
